.round-button1 {

     width:50px;
    height:50px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#ffffff;
    text-align:center;
    text-decoration:none;
    background:#d50000;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
}


.round-button1:hover {
    background: #262626;
}
.round-button2 {
     width:50px;
    height:50px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#ffffff;
    text-align:center;
    text-decoration:none;
    background:#d32f2f;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
}

.round-button2:hover {
    background: #262626;
}
.round-button3 {
     width:50px;
    height:50px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#ffffff;
    text-align:center;
    text-decoration:none;
    background:#e65100;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
}
.round-button3:hover {
    background: #262626;
}
.round-button4 {
     width:50px;
    height:50px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#ffffff;
    text-align:center;
    text-decoration:none;
    background:#fb8c00;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
}
.round-button4:hover {
    background: #262626;
}
.round-button5 {
     width:50px;
    height:50px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#ffffff;
    text-align:center;
    text-decoration:none;
    background:#ffb300;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
}
.round-button5:hover {
    background: #262626;
}
.round-button6 {
     width:50px;
    height:50px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#ffffff;
    text-align:center;
    text-decoration:none;
    background:#ffee58;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
}
.round-button6:hover {
    background: #262626;
}
.round-button7 {
     width:50px;
    height:50px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#ffffff;
    text-align:center;
    text-decoration:none;
    background:#aed581;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
}
.round-button7:hover {
    background: #262626;
}
.round-button8 {
     width:50px;
    height:50px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#ffffff;
    text-align:center;
    text-decoration:none;
    background:#8bc34a;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
}
.round-button8:hover {
    background: #262626;
}
.round-button9 {
     width:50px;
    height:50px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#ffffff;
    text-align:center;
    text-decoration:none;
    background:#558b2f;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
}
.round-button9:hover {
    background: #262626;
}
.round-button10 {
     width:50px;
    height:50px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#ffffff;
    text-align:center;
    text-decoration:none;
    background:#33691e;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
}
.round-button10:hover {
    background: #262626;
}
.rollovericons a{
    margin: 20px;
}

:root {
    --bg: #3C465C;
    --primary: #78FFCD;
    --solid: #fff;
    --btn-w: 10em;
    --dot-w: calc(var(--btn-w)*.2);
    --tr-X: calc(var(--btn-w) - var(--dot-w));
}
* {box-sizing: border-box;}
*:before, *:after {box-sizing: border-box;}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    background: var(--bg);
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
}
h1 {
    color: var(--solid);
    font-size: 2.5rem;
    margin-top: 6rem;
}
.btn {
    position: relative;
    margin: 0 auto;
    width: var(--btn-w);
    color: var(--primary);
    border: .15em solid var(--primary);
    border-radius: 5em;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.3em;
    line-height: 2em;
    cursor: pointer;
    margin: 0 0 50px 0;

}
.dot {
    content: '';
    position: absolute;
    top: 0;
    width: var(--dot-w);
    height: 100%;
    border-radius: 100%;
    transition: all 300ms ease;
    display: none;

}
.dot:after {
    content: '';
    position: absolute;
    left: calc(50% - .4em);
    top: -.4em;
    height: .8em;
    width: .8em;
    background: var(--primary);
    border-radius: 1em;
    border: .25em solid var(--solid);
    box-shadow: 0 0 .7em var(--solid),
                0 0 2em var(--primary);
}
.btn:hover .dot,
.btn:focus .dot {
    animation: atom 2s infinite linear;
    display: block;
}
@keyframes atom {
    0% {transform: translateX(0) rotate(0);}
    30%{transform: translateX(var(--tr-X)) rotate(0);}
    50% {transform: translateX(var(--tr-X)) rotate(180deg);}
    80% {transform: translateX(0) rotate(180deg);}
    100% {transform: translateX(0) rotate(360deg);}
}
