.round-button1 {
     width:50px;
    height:50px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#ffffff;
    text-align:center;
    text-decoration:none;
    background:#d50000;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
}
.round-button1:hover {
    background: #262626;
}
.round-button2 {
     width:50px;
    height:50px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#ffffff;
    text-align:center;
    text-decoration:none;
    background:#d32f2f;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
}
.round-button2:hover {
    background: #262626;
}
.round-button3 {
     width:50px;
    height:50px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#ffffff;
    text-align:center;
    text-decoration:none;
    background:#e65100;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
}
.round-button3:hover {
    background: #262626;
}
.round-button4 {
     width:50px;
    height:50px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#ffffff;
    text-align:center;
    text-decoration:none;
    background:#fb8c00;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
}
.round-button4:hover {
    background: #262626;
}
.round-button5 {
     width:50px;
    height:50px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#ffffff;
    text-align:center;
    text-decoration:none;
    background:#ffb300;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
}
.round-button5:hover {
    background: #262626;
}
.round-button6 {
     width:50px;
    height:50px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#ffffff;
    text-align:center;
    text-decoration:none;
    background:#ffee58;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
}
.round-button6:hover {
    background: #262626;
}
.round-button7 {
     width:50px;
    height:50px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#ffffff;
    text-align:center;
    text-decoration:none;
    background:#aed581;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
}
.round-button7:hover {
    background: #262626;
}
.round-button8 {
     width:50px;
    height:50px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#ffffff;
    text-align:center;
    text-decoration:none;
    background:#8bc34a;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
}
.round-button8:hover {
    background: #262626;
}
.round-button9 {
     width:50px;
    height:50px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#ffffff;
    text-align:center;
    text-decoration:none;
    background:#558b2f;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
}
.round-button9:hover {
    background: #262626;
}
.round-button10 {
     width:50px;
    height:50px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#ffffff;
    text-align:center;
    text-decoration:none;
    background:#33691e;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
}
.round-button10:hover {
    background: #262626;
}
.rollovericons a{
    margin: 20px;
}
